.trade-card-body{
    width: 100%;
    height: auto;
    margin: 10px;
    display: flex;
}
.trade-card-body:hover{
    width: 100%;
    height: auto;
    margin: 10px;
    display: flex;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.left-trade-card-body{
    display: flex;
    flex-direction: column;
    
}